<!DOCTYPE html>

<html>

<head>
       <title>Weather</title>
     
       <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
   
</head>

<body>
    

    <div class="card">
    
    <div class="module">
    {{>header}}
    <p><b>Use this site to get Weather !</b></p>
    <form >
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <h1 id="message-1"></h1>
    <b><h2 id="message-2"></h2></b>
    
    </div>
 
</div>
    {{>footer}}
     <script src="/js/app.js"></script>

</body>


</html>