<style>
    .h
    {
    font-size: 22px;
    color: white;
   
    
    }
    .h:hover {
    opacity: 0.7;
}
</style>

<header>
    <h1">{{title}}</h1>
    <h2> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp{{college}}</h2>

    <a href="/" class='h'>Weather</a>
    <a href="/about" class='h'>About Developer</a>
    <a href="/help" class='h'>Help</a>
</header>