body
{
    color: #333333;
    font-family:arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    background-image:url('https://p4.wallpaperbetter.com/wallpaper/524/791/832/abstract-sky-clouds-weather-wallpaper-preview.jpg') ;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;	
    
   
}
.card{
    margin-top: 100px;
    padding-left:50px ;
    padding-right: 25px;
    backdrop-filter: blur(10px) saturate(80%);
    border-radius: 20px;
}
.module{
   flex-grow: 1;
  
   
 
}

footer{
   /* background: white;*/
  border-top: 2px solid rgb(243, 22, 143);
  margin-top: 16px;
  padding: 16px 0 ;

}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
    color: whitesmoke;
    

}
header a{
    background-color: aliceblue;
    margin-right: 16px;
    text-decoration:none;
    padding: 6px;
    border-radius: 5px;

}
.portrait{
    
    border-radius: 50%;
border: 7px solid white;
height: 350px;
width: 350px;

}
input
{
border: 1px solid #cccccc;
padding: 8px;
}
button{

cursor:pointer;
border: 1px solid #888888;
background: greenyellow;
color:black;
padding: 8px;


}

#message-1{
    
    color: whitesmoke;
    /* text-shadow: 0 5px 0 white; */
    
  
}

#message-2{
    color: whitesmoke;
    
    /* text-shadow: 0 1px 0 white; */
    
    
}
